@using RTWEB.ViewModel
@* @model IEnumerable<UpdateVM> *@
@* @model HMSYSTEM.ViewModels.PagedResult<UpdateVM> *@

@{
    ViewData["Title"] = "Update";
}

<div class="container-fluid mt-3">

    <form method="get" asp-action="Index">
        <div class="row mb-3">

            <div class="col-md-3">
                <label>From Date</label>
                <input type="date" name="fromDate" class="form-control" value="@ViewBag.FromDate" />
            </div>

            <div class="col-md-3">
                <label>To Date</label>
                <input type="date" name="toDate" class="form-control" value="@ViewBag.ToDate" />
            </div>

         
            <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-80 me-3">Search</button>
                <a asp-controller="Update" asp-action="Index" class="btn btn-danger">Reset</a>
            </div>

        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                
                            <div>
                                <input type="text" id="searchBox" class="form-control" placeholder="Search Customer Name" />
                            </div>
                     
                           <div>
                            <a asp-controller="Update" asp-action="Save" class="btn btn-primary">New Item</a>
                           </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="updateTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Sl</th>
                                <th>Date</th>
                                <th>Domain Name</th>
                                <th>Branch Name</th>
                                <th>Developer Name</th>
                                <th>Tester Name</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@(item.UpdateDate.ToString("dd-MM-yyyy"))</td>
                                    <td>@item.DomainName</td>
                                    <td>@item.BranchName</td>
                                    <td>@item.DeveloperName</td>
                                    <td>@item.TesterName</td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">
                                            <a class="btn btn-success ms-2" asp-route-id="@item.Id" asp-controller="Update" asp-action="Details">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <a class="btn btn-primary ms-2" asp-route-id="@item.Id" asp- controller="Update" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2"
                                               asp-route-id="@item.Id"
                                               asp-controller="Update" asp-action="Delete">
                                                <i class="fa fa-trash"></i>

                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    @* @await Html.PartialAsync("_Pagination", Model) *@
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#updateTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [5, 10, 20, 50],
            "ordering": true,
            "paging": true,
            "info": true,
            "language": {
                "search": "",
                "searchPlaceholder": "Search",
                "lengthMenu": "_MENU_ rows",
                "info": "_TOTAL_ রেকর্ডের মধ্যে _START_ থেকে _END_ দেখানো হচ্ছে",
                "paginate": {
                    "previous": "⬅️ Previous",
                    "next": "Next ➡️"
                }
            },
            "dom": 'rt<"d-flex justify-content-between align-items-center p-2"<"p-0"l><"p-0"p>>'
        });


        $('#searchBox').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>
