 @model IEnumerable<Domain> 
@* @model HMSYSTEM.ViewModels.PagedResult<Domain> *@
@using RTWEB.Models
@using RTWEB.Enum
@{
    ViewData["Title"] = "Domain List";
}

<div class="container-fluid mt-3">
    <div class="d-flex justify-content-sm-between mb-2">
        <div>
            <input type="text" id="searchBox" class="form-control" placeholder="Search Domain Name" />
        </div>

        <div class="">
            <a asp-controller="Domain" asp-action="Save" class="btn btn-primary">Add Domain</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="domainTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Sl</th>
                                <th>Domain Name</th>
                                <th>Update Branch</th>
                                <th>Update Date</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="domainBoady">
                            @{
                                int count = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>

                                    <td style="padding: 10px;">
                                        <div style="background-color: #f8f9fa; border-radius: 6px; padding: 6px 10px;">
                                            <div style="font-weight: 600; color: #0056b3;">@item.DomainName</div>
                                            <div style="font-size: 12px; color: #6c757d;">@item.DbName</div>
                                        </div>
                                    </td>

                                    <td>@(item.UpdateBranch ?? "N/A")</td>
                                    <td>@(item.LastUpdateDate?.ToString("dd-MM-yyyy") ?? "N/A")</td>
                                    <td>@(item.DomainType == DomainEnum.Test ? "Test" : item.DomainType == DomainEnum.Live ? "Live" : "Unknown")</td>
                                    <td>@(item.Status== true?"Active" : "Inactive")</td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@item.Id" asp- controller="Appointment" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2"
                                               asp-route-id="@item.Id"
                                               asp-controller="Domain" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                  count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
         
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#domainTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [5, 10, 20, 50],
            "ordering": true,
            "paging": true,
            "info": true,
            "language": {
                "search": "",
                "searchPlaceholder": "Search",
                "lengthMenu": "_MENU_ rows",
                "info": "_TOTAL_ রেকর্ডের মধ্যে _START_ থেকে _END_ দেখানো হচ্ছে",
                "paginate": {
                    "previous": "⬅️ Previous",
                    "next": "Next ➡️"
                }
            },
            "dom": 'rt<"d-flex justify-content-between align-items-center p-2"<"p-0"l><"p-0"p>>'
        });


        $('#searchBox').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>
