@* @model IEnumerable<Project> *@
@* @model HMSYSTEM.ViewModels.PagedResult<Project> *@
@using RTWEB.Enum
@{
    ViewData["Title"] = "Project";
}


<div class="container-fluid mt-3">
    <div class="d-flex justify-content-sm-between mb-2">
        <div>
            <input type="text" id="searchBox" class="form-control" placeholder="Search Project" />
        </div>

        <div class="">
            <a asp-controller="Project" asp-action="Save" class="btn btn-primary">Add Project</a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">

                <!-- /.card-header -->
                <div class="card-body">
                    <table id="projectTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px">Sl</th>
                                <th>Name</th>
                                <th>Update Brnach</th>
                                <th>Last Update Date</th>
                                
                                <th style="width:20px;text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="projectBoady">
                            @{
                                int count = 1;
                            }
                            @foreach (Project item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ProjectName</td>
                                    <td>@(item.UpdateBranch ?? "N/A")</td>
                                    <td>@(item.LastUpdateDate?.ToString("dd-MM-yyyy") ?? "N/A")</td>
                                    <td>
                                        <div class="d-flex justify-content-center btn-group-sm ">

                                            <a class="btn btn-primary ms-2" asp-route-id="@item.Id" asp- controller="Appointment" asp-action="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger ms-2"
                                               asp-route-id="@item.Id"
                                               asp-controller="Project" asp-action="Delete">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                   
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>


<script>
     $(document).ready(function () {
        var table = $('#projectTable').DataTable({
            "pageLength": 10,
            "lengthMenu": [5, 10, 20, 50],
            "ordering": true,
            "paging": true,
            "info": true,
            "language": {
                "search": "",
                "searchPlaceholder": "Search",
                "lengthMenu": "_MENU_ rows",
                "info": "_TOTAL_ রেকর্ডের মধ্যে _START_ থেকে _END_ দেখানো হচ্ছে",
                "paginate": {
                    "previous": "⬅️ Previous",
                    "next": "Next ➡️"
                }
            },
            "dom": 'rt<"d-flex justify-content-between align-items-center p-2"<"p-0"l><"p-0"p>>'
        });


        $('#searchBox').on('keyup', function () {
            table.search(this.value).draw();
        });
    });
</script>